h1{
    color: rgb(17, 31, 231);
}


img {
    width: 400px; /*Esto es el ancho*/
}

#thirdDiv {
    padding: 50px; /*relleno*/
    height: 600px; /*altura*/
    width: 500px;   /*ancho*/
    background: rgb(132, 216, 139);
    border: 100px solid blue ;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}